<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bookmark Manager</title>
    <meta name="bookmark manager , building a simple webapp" content="">
    <link rel="stylesheet" href="">
  </head>
  <body >
    <h1>Add a Bookmark </h1>
    <form action='/bookmarks' method='post'>
      <div id='fields' >
		    <label for='url'>URL:
			   <input type='text' name='url' placeholder='https://makers.tech/' />
		    </label>
	    </div>
      
      <div id='fields' >
		    <label for='title'>Title:
			   <input type='text' name='title' placeholder='Makers Academy' />
	    </div>

			  <input type='submit' value='Submit' />
      
    </form>
  </body>
</html>